*.a
*.bin
*.dat
*.data
*genmod*
*.idx
*.jsonl
*.mod
*.mtx
*.o
*.so
*.out*
*.th_o
*_text_document
.deps
.idea
.python-version
__pycache__
llmjp3*.csv
lightning_logs
preprocess_data_for_megatron.py
tokenizer
